openapi: 3.0.1
info:
  title: VAG API
  description: OpenAPI-Dokumentation der API zu start.vag - dem Verkehrs-Aktiengesellschaft
    (VAG) Abfahrsmonitor mit Echtzeitprognose. Die API gibt Zugriff auf alle Haltestellen,
    Fahrten und Abfahrten im Gebiet des Verkehrsbund Großraum Nürnberg (VGN). Eine
    Schnittstellenbeschreibung durch die VAG findet sich auf https://opendata.vag.de/dataset/api-echtzeitauskunft
    unter Creative CommonsAttribution 4.0 Int veröffentlicht.
  version: v2
externalDocs:
  description: Weiterführende Dokumentation
  url: https://github.com/bundesAPI/vag-api
servers:
- url: https://start.vag.de/dm
paths:
  /api/v1/abfahrten/{netvu}/{haltid}:
    get:
      tags:
      - Abfahrten
      summary: Liefert die Abfahrten zu einer bestimmten Haltestelle
      operationId: Abfahrten_Get1
      parameters:
      - name: netvu
        in: path
        description: Netz des Verkehrsunternehmen, aktuell "VAG" oder "VGN"
        required: true
        schema:
          type: string
      - name: haltid
        in: path
        description: Haltestellenkennung je nach NetVU - VGN-Kennung oder die HaltID
          der VAG
        required: true
        schema:
          type: string
      - name: product
        in: query
        description: 'Betriebszweig der VAG Bus, Tram, UBahn, SBahn, RBahn. Querystring:
          product=Bus,Tram'
        schema:
          type: string
      - name: timespan
        in: query
        description: Zeitfenster für die Abfrage in Minuten (?timespan=10)
        schema:
          type: integer
          format: int32
      - name: timedelay
        in: query
        description: Zeitliche Verschiebung für die Anfrage in Minuten (?timedelay=5)
        schema:
          type: integer
          format: int32
      - name: limitcount
        in: query
        description: Maximale Anzahl der zurückgelieferten Abfahrten
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbfahrtenAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AbfahrtenAPIResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AbfahrtenAPIResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/AbfahrtenAPIResponse'
        '404':
          description: NotFound
          content: {}
  /api/v1/abfahrten/{netvu}/{haltid}/{line}:
    get:
      tags:
      - Abfahrten
      summary: Liefert die Abfahrten zu einer bestimmten Haltestelle
      operationId: Abfahrten_Get2
      parameters:
      - name: netvu
        in: path
        description: Netz des Verkehrsunternehmen, aktuell "VAG" oder "VGN"
        required: true
        schema:
          type: string
      - name: haltid
        in: path
        description: Haltestellenkennung je nach NetVU - VGN-Kennung oder die HaltID
          der VAG
        required: true
        schema:
          type: string
      - name: line
        in: path
        description: Linienkürzel der VAG
        required: true
        schema:
          type: string
      - name: product
        in: query
        description: 'Betriebszweig der VAG Bus, Tram, UBahn, SBahn, RBahn. Querystring:
          product=Bus,Tram'
        schema:
          type: string
      - name: timespan
        in: query
        description: Zeitfenster für die Abfrage in Minuten (?timespan=10)
        schema:
          type: integer
          format: int32
      - name: timedelay
        in: query
        description: Zeitliche Verschiebung für die Anfrage in Minuten (?timedelay=5)
        schema:
          type: integer
          format: int32
      - name: limitcount
        in: query
        description: Maximale Anzahl der zurückgelieferten Abfahrten
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AbfahrtenAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AbfahrtenAPIResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AbfahrtenAPIResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/AbfahrtenAPIResponse'
        '404':
          description: NotFound
          content: {}
  /api/v1/fahrten/{betriebszweig}:
    get:
      tags:
      - Fahrten
      summary: Liefert alle laufenden und startenden Fahrten zu dem angegebenen Betriebszweig
        innerhalb des angegebenen Zeitfenster.
      operationId: Fahrten_Get
      parameters:
      - name: betriebszweig
        in: path
        description: 'Betriebszweig der VAG: Bus|Tram|UBahn'
        required: true
        schema:
          type: string
      - name: timespan
        in: query
        description: Zeitfenster für die Abfrage in Minuten (Default 60 Minuten)
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
  /api/v1/fahrten/{betriebszweig}/{fahrtnummer}:
    get:
      tags:
      - Fahrten
      summary: Liefert die Fahrt des angegebenen Betriebszweig mit der Fahrtnummer
        und dem aktuellen Betriebstag
      operationId: Fahrten_GetFahrt1
      parameters:
      - name: betriebszweig
        in: path
        description: 'Betriebszweig der VAG: Bus|Tram|UBahn'
        required: true
        schema:
          type: string
      - name: fahrtnummer
        in: path
        description: Fahrtnummer für die Anfrage
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
        '404':
          description: NotFound
          content: {}
  /api/v1/fahrten/{betriebszweig}/{betriebstag}/{fahrtnummer}:
    get:
      tags:
      - Fahrten
      summary: Liefert die Fahrt des angegebenen Betriebszweig mit der Fahrtnummer
        und dem angegebenen Betriebstag
      operationId: Fahrten_GetFahrt2
      parameters:
      - name: betriebszweig
        in: path
        description: 'Betriebszweig der VAG: Bus|Tram|UBahn'
        required: true
        schema:
          type: string
      - name: betriebstag
        in: path
        description: Betriebstagsdatum für die Anfrag
        required: true
        schema:
          type: string
          format: date-time
      - name: fahrtnummer
        in: path
        description: Fahrtnummer für die Anfrage
        required: true
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/FahrtenAPIResponse'
        '404':
          description: NotFound
          content: {}
  /api/v1/haltestellen/{netvu}:
    get:
      tags:
      - Haltestellen
      summary: Liefert die Liste mit den Haltestellen zu dem angegebenen Haltestellenname
        (Optional)
      operationId: Haltestellen_GetByName
      parameters:
      - name: netvu
        in: path
        description: Netz des Verkehrsunternehmen, aktuell "VAG" oder "VGN"
        required: true
        schema:
          type: string
      - name: name
        in: query
        description: Name der Haltestelle (like)
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HaltestellenAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/HaltestellenAPIResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HaltestellenAPIResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/HaltestellenAPIResponse'
  /api/v1/haltestellen/{netvu}/location:
    get:
      tags:
      - Haltestellen
      summary: Liefert die Liste mit den Haltestellen zu der Umkreissuche
      operationId: Haltestellen_GetByLocation
      parameters:
      - name: netvu
        in: path
        description: Netz des Verkehrsunternehmen, aktuell "VAG" oder "VGN"
        required: true
        schema:
          type: string
      - name: lon
        in: query
        description: Longitude für die Umkreissuche in WGS 84 Format in Grad
        required: true
        schema:
          type: number
          format: float
      - name: lat
        in: query
        description: Latitude für die Umkreissuche in WGS 84 Format in Grad
        required: true
        schema:
          type: number
          format: float
      - name: radius
        in: query
        description: Radius für die Umkreissuche. Defaultwert = 1000 Meter.
        schema:
          type: integer
          format: int32
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HaltestellenAPIResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/HaltestellenAPIResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/HaltestellenAPIResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/HaltestellenAPIResponse'
components:
  schemas:
    AbfahrtenAPIResponse:
      type: object
      properties:
        Metadata:
          $ref: '#/components/schemas/Metadata'
        Haltestellenname:
          type: string
        VAGKennung:
          type: string
        VGNKennung:
          type: integer
          format: int32
        Abfahrten:
          type: array
          items:
            $ref: '#/components/schemas/AbfahrtDto'
        Sonderinformationen:
          type: array
          items:
            type: string
    Metadata:
      type: object
      properties:
        Version:
          type: string
        Timestamp:
          type: string
    AbfahrtDto:
      type: object
      properties:
        Linienname:
          type: string
        Haltepunkt:
          type: string
        Richtung:
          type: string
        Richtungstext:
          type: string
        AnkunftszeitSoll:
          type: string
        AnkunftszeitIst:
          type: string
        AbfahrtszeitSoll:
          type: string
        AbfahrtszeitIst:
          type: string
        Produkt:
          type: string
        Longitude:
          type: number
          format: double
        Latitude:
          type: number
          format: double
        Fahrtnummer:
          type: integer
          format: int32
        Fahrtartnummer:
          type: integer
          format: int32
        Fahrzeugnummer:
          type: string
        Prognose:
          type: boolean
        HaltesteigText:
          type: string
        AbfahrtszeitenAusblenden:
          type: boolean
      description: Datenklasse für die Abfahrtsdaten einer Fahrt an einem Haltepunkt
    FahrtenAPIResponse:
      type: object
      properties:
        Metadata:
          $ref: '#/components/schemas/Metadata'
        Linienname:
          type: string
        Richtung:
          type: string
        Richtungstext:
          type: string
        Fahrtnummer:
          type: integer
          format: int32
        Betriebstag:
          type: string
        Produkt:
          type: string
        FaelltAus:
          type: boolean
        Zusatzfahrt:
          type: boolean
        Fahrzeugnummer:
          type: string
        Fahrtverlauf:
          type: array
          items:
            $ref: '#/components/schemas/FahrwegHaltepositionDto'
        Fahrten:
          type: array
          items:
            $ref: '#/components/schemas/FahrtDto'
      description: Antwortklasse für die Fahrten-API Zugriffe
    FahrwegHaltepositionDto:
      type: object
      properties:
        Haltestellenname:
          type: string
        VAGKennung:
          type: string
        VGNKennung:
          type: integer
          format: int32
        Haltepunkt:
          type: string
        AnkunftszeitSoll:
          type: string
        AnkunftszeitIst:
          type: string
        AbfahrtszeitSoll:
          type: string
        AbfahrtszeitIst:
          type: string
        Richtungstext:
          type: string
        Longitude:
          type: number
          format: double
        Latitude:
          type: number
          format: double
        Durchfahrt:
          type: boolean
        Einsteigeverbot:
          type: boolean
        Aussteigeverbot:
          type: boolean
        Zusatzhalt:
          type: boolean
      description: Halteposition zu einer Fahrt
    FahrtDto:
      type: object
      properties:
        Fahrtnummer:
          type: integer
          format: int32
        Linienname:
          type: string
        Richtung:
          type: string
        Betriebstag:
          type: string
        Startzeit:
          type: string
        Endzeit:
          type: string
        StartHaltID:
          type: string
        EndHaltID:
          type: string
        FaelltAus:
          type: boolean
        Zusatzfahrt:
          type: boolean
        Fahrzeugnummer:
          type: string
      description: Antwortobjekt für eine Fahrt in der Fahrtenliste
    HaltestellenAPIResponse:
      type: object
      properties:
        Metadata:
          $ref: '#/components/schemas/Metadata'
        Haltestellen:
          type: array
          items:
            $ref: '#/components/schemas/HaltestelleDto'
      description: Antwortklasse für die Haltestellen-API Zugriffe
    HaltestelleDto:
      type: object
      properties:
        Haltestellenname:
          type: string
        VAGKennung:
          type: string
        VGNKennung:
          type: integer
          format: int32
        Longitude:
          type: number
          format: double
        Latitude:
          type: number
          format: double
        Produkte:
          type: string
      description: Datenklasse zur Haltestelle Antwort
